:root{
    --header-bgc: #10375C;
  }



/* ==================================HEADER */
.header {
    background-color: var(--header-bgc);
    min-height: 100vh;
    min-width: calc(100% - 48px);
}


.container {
    width: 1170px;
    margin: 0 auto;
}